.title
{
    font-size: 40px;
    font-style: bold;
    color: brown;
}

body 
{
    background-color: rgb(243, 239, 239);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    font-family: Helvetica, sans-serif;
}

h1 
{
    font-size: 14px;
    color: brown;
}

.top-box 
{
    background-color: gray;
}

.main-container 
{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    width: 1520px;
    height: 400px;
    background-color:white;
    padding: 20px
}

.inner-container 
{
    background-color: rgb(243, 239, 239);
    width: 600px;
    height: 340px;
    padding: 20px
}

.container-tabs 
{
    display: flex;
    justify-content: space-between;
    background-color:white;
    padding: 10px;
    align-items: center;
}

img
{
    max-width:100%;
    max-height:100%;
    object-fit: cover;
}

a.link
{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    color: brown;
}

a.link:hover 
{
    text-decoration: underline;
}

.highlighted 
{
    color: rgb(54, 28, 8);
}

.loader 
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(orange,yellow,green,blue,indigo,violet); 
    position: relative;
    animation: loader 1s linear infinite;
    animation-play-state: paused;
}

.loader:hover 
{
    animation-play-state: running;
}

.loader::before 
{
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    left: 5px;
    border-radius: 50%;
    content: "";
}
@keyframes loader
{
    0% 
    {
        transform: rotate(360deg);
    }
    100% 
    {
        transform: rotate(0deg);
    }
}